---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Cuidado de plantas"></Layout>
<div>
  <section>
    <section class="sticky">

      <div
        class="max-w-lg px-4 pt-12 sm:pb-8 mx-auto text-left md:max-w-none md:text-center">
        <h1
          class="font-extrabold leading-10 tracking-tight text-left text-[#201515] text-center sm:leading-none text-5xl sm:text-9xl"
        >
          <h1 class="lg:text-6xl font-extrabold">
            7 cosas que debes saber sobre el cuidado de <br>las plantas</h1>
          
        </h1>
      </div>


      <div
        class="max-w-lg px-4  mx-auto text-left md:max-w-none md:text-center"
      >
        <div class='text-center py-4 space-x-4'>

          <button class="backdrop-blur-sm transition duration-500 ease-in-out bg-[#FF4F01] border border-[#E2E8F0] translate-y-1 text-white hover:bg-neutral-200 text-lg font-semibold py-3 px-6 rounded-3xl inline-flex items-center">
            <span>Flores y Plantas
            </span>
          </button>

          <button class="backdrop-blur-sm transition duration-500 ease-in-out bg-white border border-[#E2E8F0] translate-y-1 text-[#16161d] hover:bg-neutral-200 text-lg font-semibold py-3 px-6 rounded-3xl inline-flex items-center">
            <span> Huerto</span>
          </button>
        </div>
      </div>

    </section>
  </section>
  <!-- component -->
<div class=" flex flex-wrap items-center justify-center">
    
    <div class="flex-shrink-0 m-6 relative overflow-hidden bg-orange-500 rounded-lg max-w-xs shadow-lg">
      <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none" style="transform: scale(1.5); opacity: 0.1;">
        <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white"/>
        <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white"/>
      </svg>
      <div class="relative pt-10 px-10 flex items-center justify-center">
        <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
        <img class="relative w-40" src="https://user-images.githubusercontent.com/2805249/64069899-8bdaa180-cc97-11e9-9b19-1a9e1a254c18.png" alt="">
      </div>
      <div class="relative text-white px-6 pb-6 mt-6">
        <span class="block opacity-75 -mb-1">Indoor</span>
        <div class="flex justify-between">
          <span class="block font-semibold text-xl">Peace Lily</span>
        </div>
      </div>
    </div>
    <div class="flex-shrink-0 m-6 relative overflow-hidden bg-teal-500 rounded-lg max-w-xs shadow-lg">
      <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none" style="transform: scale(1.5); opacity: 0.1;">
        <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white"/>
        <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white"/>
      </svg>
      <div class="relative pt-10 px-10 flex items-center justify-center">
        <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
        <img class="relative w-40" src="https://user-images.githubusercontent.com/2805249/64069998-305de300-cc9a-11e9-8ae7-5a0fe00299f2.png" alt="">
      </div>
      <div class="relative text-white px-6 pb-6 mt-6">
        <span class="block opacity-75 -mb-1">Outdoor</span>
        <div class="flex justify-between">
          <span class="block font-semibold text-xl">Monstera</span>
        </div>
      </div>
    </div>
    <div class="flex-shrink-0 m-6 relative overflow-hidden bg-purple-500 rounded-lg max-w-xs shadow-lg">
      <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none" style="transform: scale(1.5); opacity: 0.1;">
        <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white"/>
        <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white"/>
      </svg>
      <div class="relative pt-10 px-10 flex items-center justify-center">
        <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
        <img class="relative w-40" src="https://user-images.githubusercontent.com/2805249/64069899-8bdaa180-cc97-11e9-9b19-1a9e1a254c18.png" alt="">
      </div>
      <div class="relative text-white px-6 pb-6 mt-6">
        <span class="block opacity-75 -mb-1">Outdoor</span>
        <div class="flex justify-between">
          <span class="block font-semibold text-xl">Oak Tree</span>
        </div>
      </div>
    </div>
    
  </div>
 <section>
    <div class="text-left">

        <div class='sm:px-28'>
            <div class="relative flex items-center w-full">
                <div class="relative items-center w-full px-5 mx-auto md:px-12 lg:px-16 max-w-7xl">
    
                <h3 class="text-3xl font-semibold tracking-tight  sm:text-5xl">
                  Space Management Software
                </h3>
                <p class=" mt-4 text-base tracking-tight text-gray-600">
                    Necesitamos tenerlas cerca pero, a la vez, el cuidado de las plantas suele despertar muchísimas dudas e inseguridades. Algo que no solo le pasa a quienes se inician en cuidar plantas o tienen el título oficial de «mataplantas» sino que, además, es extensible a jardineros avezados que se enfrentan a plantas que no conocen. Lo primero de todo: calma. Por más que nos puedan parecer un auténtico misterio apto solo para personas que han nacido con una virtud, nada más lejos de la realidad. El correcto cuidado de las plantas pasa, únicamente, por conocer cuáles son sus exigencias y atenderlas. Probablemente te sorprenderá que no mencionemos algo fundamental: el tiempo que necesitan. Y es que, por increíble que parezca, no es imprescindible si sabemos elegir plantas en la medida de nuestras necesidades.
    
                </p>
    <p class=" mt-4 text-base tracking-tight text-gray-600">
        Desde hace algunos años, el cuidado de las plantas ha ganado peso en los hogares y rompe ese cliché de ser algo relegado para «personas maduras o mayores». Y, más allá de que la educación en la naturaleza cada vez es mayor, hay otro par de buenas razones para que nos interesemos cada vez más por ellas. Por un lado, por la asombrosa relación que existe entre el cultivo de plantas y la salud mental. Por otro, porque la lista de motivos para tener plantas en casa no hace más que engrosar. Ya no las elegimos, únicamente, por disfrutar de un pedacito de naturaleza o contemplar su belleza. También lo hacemos por otros aspectos, como valernos de sus virtudes para respirar un aire más sano. </p>
        
            </div>
              </div>
        </div>
    </div>
    
      <div class="text-left">
    
        <div class='sm:px-28'>
          <section class="relative flex items-center w-full">
            <div class="relative items-center w-full px-5 mx-auto md:px-12 lg:px-16 max-w-7xl">
              <div class="relative flex-col items-start m-auto align-middle">
                <div class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24">
                  <div class="relative items-center gap-12 m-auto lg:inline-flex md:order-first">
                    <div class="max-w-xl text-center lg:text-left">
                      <div>
    
                        <h3 class="text-3xl font-semibold tracking-tight  sm:text-5xl">
                            Cómo disfrutar el cuidado de las plantas
                        </h3>
                        <p class="max-w-xl mt-4 text-base tracking-tight text-gray-600">
                            Seguro que, en más de una ocasión, te has visto en la situación que vamos a describir: una planta a lael  que le prestas toda la atención del mundo y, sin venir a cuento, comienza a languidecer. Habitualmente cuando esto sucede, lo más habitual es entrar en pánico y considerar que, como planta que es, le falta algo. Solemos pensar primero en la luz pero, irremediablemente y como planta que es, llegamos a la conclusión de que realmente necesita agua. Y sí: puede ser cierto. Pero también, en muchas ocasiones este gesto no hace más que complicar todavía la situación, y obligarnos a averiguar cómo recuperar una planta con exceso de riego. ¿Cuál suele ser la consecuencia? Ver como nuestra planta se mustia por momentos, y llegar a la conclusión de que lo nuestro son las plantas artificiales.
                        </p>
                      </div>
                      <div class="flex justify-center gap-3 mt-10 lg:justify-start">
                        <a class="inline-flex items-center justify-center text-sm font-semibold text-black duration-200 hover:text-blue-500 focus:outline-none focus-visible:outline-gray-600" href="https://verdecora.es/blog/plantas-salud-mental">
                            plantas y la salud mental.
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="order-first block w-full mt-12 aspect-square lg:mt-0">
                    <iframe class="w-full h-64 my-10 rounded-lg md:h-80" src="https://www.youtube.com/watch?v=VY-863tvt3E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
    </div>
 </section>
</Layout>
<style>
  body, html{
    background-color: #fff;
  }
  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #4A4A4A;
    letter-spacing: 0;
  }
 h1,h3,h4{
        color:#353E51;
    }
    button{
        background-color: #1BA39C;
        border:none;
    }
    a{
        color: #1BA39C;
    text-decoration: underline;
    text-transform: uppercase;
    }
    section{
        margin: 50px 0px;
    }

</style>